<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <button mat-icon-button routerLink="/"><mat-icon>home</mat-icon></button>
    <h1 id="title">Welcome to {{ title }}</h1>
    <span class="spacer"></span>
    <nav>
      <button mat-icon-button routerLink="/account" fxShow="{{signedIn}}"><mat-icon aria-hidden="true">account_circle</mat-icon></button>
      <button mat-icon-button (click)="login()"><mat-icon aria-hidden="true">{{computeLock()}}</mat-icon></button>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar class="footer">Footer</mat-toolbar>
