<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <span class="spacer"></span>
    <p style="font-size: small">List: {{listName}} - </p>
    <p *ngIf="user" id="userName">{{ user.displayName }}</p>
    <nav>
      <button mat-icon-button routerLink="/account" fxShow="{{signedIn}}">
        <ng-container *ngIf="0 < userArticlesCount; else withoutBadge">
          <mat-icon aria-hidden="true" class="mdl-badge mdl-badge--overlap" [attr.data-badge]="userArticlesCount">
            account_circle
          </mat-icon>
        </ng-container>
        <ng-template #withoutBadge><mat-icon aria-hidden="true">account_circle</mat-icon></ng-template>
      </button>
      <button mat-icon-button (click)="signInOrOut()">
        <mat-icon aria-hidden="true">{{computeLock()}}</mat-icon>
      </button>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>


<div *ngIf="user; else showLogin">
  <router-outlet></router-outlet>
</div>
<ng-template #showLogin>
  <div id="showLoginForm" class="back-color-primary">
    <button mat-raised-button color="accent" (click)="signInOrOut()">
      <mat-icon aria-hidden="true">account_circle</mat-icon>
      <span>Login with Google</span></button>
  </div>
</ng-template>

<app-editor (articleChange)="persist($event)"></app-editor>

<button mat-fab color="primary" id="createButton" (click)="create()" *ngIf="signedIn">
  <mat-icon aria-hidden="true">add</mat-icon>
</button>
