.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.fixed-nav {
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  height: 100%;
  min-height: 100%;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  padding: 8px;
  background-color: #3949AB;
}

.nav-content {
  padding: 4px 4px 4px 8px;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

#wrapper {
  min-height: 100vh;
}
