:host {
  height: calc(100% - 64px);
  display: flex;
  min-height: calc(100% - 64px);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#title {
  margin-left: 12px;
}

.toolbar-icon {
  padding: 0 14px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}

#showLoginForm {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#showLoginForm button > * {
  vertical-align: middle;
  text-transform: none;
}

#userName {
  font-size: small;
}

.sidenav-content {
  padding-bottom: 8px;
}

.sidenav-content h3{
  color: #1A237E;
  font-weight: 400;
}
