<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon class="toolbar-icon">menu</mat-icon></button>
    <h1 id="title">Welcome to {{ title }}</h1>
    <span class="spacer"></span>
    <mat-icon class="toolbar-icon">verified_user</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container class="nav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav"
               [fixedInViewport]="false">
    Fixed Sidenav
  </mat-sidenav>

  <mat-sidenav-content class="nav-content">
    <h2>Here is a list of shoes: </h2>

    <mat-selection-list #shoes>
      <mat-list-option *ngFor="let shoe of typesOfShoes">
        {{shoe}}
      </mat-list-option>
    </mat-selection-list>

    <p>
      Number of options selected: {{shoes.selectedOptions.selected.length}}
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="footer">Footer</mat-toolbar>
