.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#title {
  margin-left: 12px;
}

.toolbar-icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

.nav-content {
  padding: 8px 36px;
  box-sizing: border-box;
}

.nav-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.card {
  margin-bottom: 10px;
}

.card-content {
  display: flex;
}

.card-desc {
  padding: 4px 8px;
}

.card-image {
  max-height: 200px;
  max-width: 300px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

