<div class="nav-content">
  <h2 *ngIf="(articles | async)?.length == 0" style="text-align: center">Cette liste est vide pour le moment.</h2>
  <ng-container *ngFor="let article of articles | async; odd as isOdd; first as isFirst">
    <mat-card [ngClass]="isOdd ? 'card card-odd' : isFirst ? 'card' : 'card card-even'">
      <mat-card-header>
        <mat-icon mat-card-avatar>shopping_cart</mat-icon>
        <mat-card-title>{{article.name}}</mat-card-title>
        <mat-card-subtitle>{{article.size}} - {{article.value}}</mat-card-subtitle>
      </mat-card-header>
      <div class="img-container">
        <img mat-card-image src="{{getImage(article)}}" alt="Photo of the product">
      </div>
      <mat-card-content class="card-content">
        <p [innerText]="article.desc" class="card-desc"></p>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-button color="primary" (click)="addToCart(article)">JE PRENDS</button>
        <button mat-button color="warn" (click)='removeArticle(article.key)'>SUPPRIMER</button>
      </mat-card-actions>
    </mat-card>

  </ng-container>
</div>
