<mat-sidenav-container class="nav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav"
               [fixedInViewport]="false">
    TODO: Filtres
  </mat-sidenav>

  <mat-sidenav-content class="nav-content">
    <ng-container *ngFor="let article of articles">
      <mat-card class="card" tabindex="0">
        <mat-card-header>
          <mat-icon mat-card-avatar>{{article.category}}</mat-icon>
          <mat-card-title>{{article.name}}</mat-card-title>
          <mat-card-subtitle>{{article.size}} - {{article.value}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
          <img class="card-image" src="{{article.image}}" alt="Photo of the product">
          <p [innerText]="article.desc" class="card-desc"></p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary">JE PRENDS</button>
          <span class="spacer"></span>
          <button mat-button color="warn">SUPPRIMER</button>
        </mat-card-actions>
      </mat-card>

    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
